DATABASE_URL="postgresql://postgres:postgresPassword@localhost:5432/some_database"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgresPassword
POSTGRES_DB=some_database

PERFORM_DATABASE_MIGRATIONS=true
PERFORM_DATABASE_SEEDING=true